.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 45%;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.flex-control-nav.flex-control-paging {
  opacity: 0;
  visibility: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.overlay h1 {
  text-align: center;
  color: #fff;
  font-size: 70px;
  margin-top: 17%;
}

.hero-btn {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #68823d !important;
  border: none !important;
  text-transform: none !important;
}

.slides-text {
  padding-top: 30vh !important;
}

.hero-btn {
  font-size: 20px;
}

.probootstrap-main-nav li.active a {
  color: #68823d;
}
a {
  color: #68823d;
}

.panel-heading {
  padding: 10px 0;
}

.probootstrap-panel .panel .panel-heading a[aria-expanded=true] {
    color: #68823d;
}

.probootstrap-footer.probootstrap-bg a {
    color: #68823d;
}
.probootstrap-footer form .btn.btn-subscribe {
    background-color: #68823d;
}

@media (max-width: 768px) {
  .fullscreen-bg {
    background: url('../images/plane.jpg') center center / cover no-repeat;
  }
  .slides-text h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 26px;
  }
  .hero-btn {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #68823d !important;
    padding: 10px 20px !important;
    margin-top: 15px;
    font-size: 14px;
  }

  .probootstrap-panel .panel .panel-heading a:after {
    content: '\e9f7';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .probootstrap-panel .panel .panel-heading a:after,
  .probootstrap-panel .panel .panel-heading a[aria-expanded='true']:after {
    top: 40%;
  }

  .accardion-text {
      display: inline-block;
      width: 90%;
  }
}
